
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/exchange-messages">Thông điệp trao đổi</a>
    </li>
  </ul>
</div>

<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->

<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>


<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <div class="form-horizontal align-middle">
        <div class="table-toolbar">
          <div style="padding:10px;"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="loai">Loại</label>
                <div class="col-md-8">
                  <select (change)="changeLoai(searchObject);" [(ngModel)]="searchObject.loai" id="loai" class="form-control">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let loai of listLoai" [value]="loai.id">{{loai.text}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" row form-group">
                <label class="control-label col-md-4" for="type_request">Phương thức</label>
                <div class="col-md-8 ">
                  <select [(ngModel)]="searchObject.type_request" id="type_request" class="form-control">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listTypeRequest" [value]="type.id">{{type.text}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="status">Trạng thái</label>
                <div class="col-md-8">
                  <select [(ngModel)]="searchObject.status" id="status" class="form-control">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listStatus" [value]="type.code">{{type.name}}</option>
                  </select>
                </div>
              </div>
            </div> -->
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="maHTGui">Mã hệ thống gửi</label>
                <div class="col-md-8">
                  <select id="maHTGui" class="form-control" [(ngModel)]="searchObject.maHTGui">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listSystem" [value]="type.maHT">{{type.tenHT}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="maHTNhan">Mã hệ thống nhận</label>
                <div class="col-md-8">
                  <select id="maHTNhan" class="form-control" [(ngModel)]="searchObject.maHTNhan">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listSystem" [value]="type.maHT">{{type.tenHT}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="fromDate">Từ ngày</label>
                <div class="col-md-8">
                  <input id="fromDate" [(ngModel)]="searchObject.fromDate" type="date" class="form-control"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="toDate">Đến ngày</label>
                <div class="col-md-8">
                  <input id="toDate" [(ngModel)]="searchObject.toDate" type="date" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="maHSGui">Mã hồ sơ gửi</label>
                <div class="col-md-8">
                  <input id="maHSGui" [(ngModel)]="searchObject.maHSGui" type="text" class="form-control"  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="maHSNhan">Mã hồ sơ nhận</label>
                <div class="col-md-8">
                  <input id="maHSNhan" [(ngModel)]="searchObject.maHSNhan" type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 text-right" style="margin-left: 4%;">
            <button (click)="getLogByDate(0)" type="button" class="btn green align-center"><i class="fa fa-search"></i> {{'Action.Search' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE TOOLBAR-->


<!-- BEGIN TABLE CONTENT-->
<div class="table-responsive row ng-scope" style="margin-top:10px; margin-bottom: 10px;">

  <table class="table-responsive table table-striped table-bordered table-hover" id="list-data-table" style="margin-bottom: 0px;table-layout: fixed;">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter>Profile id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a1">Loại</mfDefaultSorter>
      </th>
      <!-- <th>
        <mfDefaultSorter by="a2">Đơn vị gửi</mfDefaultSorter>
      </th> -->
      <th>
        <mfDefaultSorter by="a2">Mã hệ thống gửi</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a2">Mã hệ thống nhận</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a2">Mã hồ sơ gửi</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a2">Mã hồ sơ nhận</mfDefaultSorter>
      </th>
      <!-- <th>
        <mfDefaultSorter by="a3">Trạng thái</mfDefaultSorter>
      </th> -->
      <th>
        <mfDefaultSorter by="a4">Phương thức</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a5">Ngày tạo</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="a6">Hoạt động</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" *ngFor="let item of this.logResponses">
      <td style="text-align: center;">{{item.profileId}}</td>
      <td style="text-align: center;">{{item.loai}}</td>
      <td style="text-align: center;">{{item.maHTGui}}</td>
      <td style="text-align: center;">{{item.maHTNhan}}</td>
      <td style="text-align: center;">{{item.maHSGui}}</td>
      <td style="text-align: center;">{{item.maHSNhan}}</td>
      <!-- <td style="text-align: center;">{{item.status}}</td> -->
      <td style="text-align: center;">{{item.type_request == "UPDATE" ? "updateReceiver" : (item.type_request == "GET" ? "getProfile" : "sendProfile")}}</td>
      <td style="text-align: center;">{{item.creation_date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
      <td style="text-align: center;">
        <a (click)="getLogById(item.id)" data-toggle="modal" data-target="#modalLoginForm" href="javascript:;" class="btn btn-icon-only blue" title="{{ 'Action.Detail' | translate }}" id="business-btn">
          <i class="fa fa-info" aria-hidden="true"></i>
        </a>
      </td>

    </tr>
    </tbody>
  </table>
</div>


<!-- END PAGE CONTENT-->
<!-- BEGIN PAGING-->
<div class="row" style="padding-top: 5px;">
  <div class="col-md-4">
    {{fromElement}} - {{toElement}} {{ 'Label.InTotal' | translate }} {{totalElements}} {{ 'Label.Items' | translate
    }}
  </div>
  <div class="col-md-3 pull-right" style="text-align: center;">
    {{ 'Label.Page' | translate }}
    <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev"
            [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(0)">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev"
            [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(currentPage-1)">
      <i class="fa fa-angle-left"></i>
    </button>
    <input type="number" min="1" max="{{totalPages}}"
           style="border: none; width: 30px; text-align: center;" [value]="currentPageView" #page
           (keyup.enter)="choosePageNumber(page)"> /
    <label style="padding-right: 5px;">{{totalPages}}</label>
    <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next"
            [disabled]="(currentPage+1)>=totalPages" (click)="choosePageNumber(currentPage+1)">
      <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next"
            [disabled]="(currentPage+1)>=totalPages"
            (click)="choosePageNumber(totalPages-1)">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
<!-- END PAGING-->


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div style="max-width: 80%;     transform: translate(170px, 46px);" class="modal-dialog1" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b> Danh sách chi tiết</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body" style="overflow-x: auto;">
        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;table-layout: fixed;">
          <thead>
          <tr>

            <th style="width: 50%;text-align: center">
              <mfDefaultSorter>Dữ liệu đầu vào</mfDefaultSorter>
            </th>
            <th style="width: 50%;text-align: center">
              <mfDefaultSorter>Dữ liệu đầu ra</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd gradeX">
            <td style="height: auto;">
              {{isJson_data_input_o == false ? logById.input_str : '' }}
              <ngx-json-viewer [expanded]="true" [json]="logById.data_input_o == null ? {} : logById.data_input_o"></ngx-json-viewer>
            </td>
            <td style="height: auto;">
              {{isJson_data_output_o == false ? logById.output_str : '' }}
              <ngx-json-viewer [expanded]="true" [json]="logById.data_output_o == null ? {} : logById.data_output_o"></ngx-json-viewer>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"> Hủy</button>
      </div>
    </div>
  </div>

</div>
