<style>
  .save-custom {
    width: 94.49px;
  }
</style>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="./home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="./hscv">{{ 'SIDEBAR.HSCV' | translate}}</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">Thêm mới hệ thống hồ sơ công việc</a>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
  Thêm mới hệ thống hồ sơ công việc
</h3>

<hr>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="submit(filterForm.value)">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="maHT">Mã hệ thống
              <span style="color:red;"> *</span>
            </label>
            <div class="col-md-8">
                <input id="maHT" ng-trim="true" type="text" class="form-control"
                    placeholder="Mã hệ thống" required
                    formControlName="maHT">
                    <small class="error" *ngIf="filterForm.get('maHT').invalid && (filterForm.get('maHT').touched)">
                      <span *ngIf="filterForm.get('maHT').errors?.required">
                          {{ 'Message.Required' | translate }}
                      </span>
                      <span *ngIf="isUpdate===1 && !filterForm.get('maHT').errors?.required&&filterForm.get('maHT').errors?.pattern!=null">
                          {{ 'Message.CodeInvalid' | translate }}
                      </span>
                    </small>
                  
                    <small class="error" *ngIf="!filterForm.get('maHT').invalid && (filterForm.get('maHT').touched)">
                        <span *ngIf="filterForm.get('maHT').value.trim() == ''">
                            {{ 'Message.CodeInvalid' | translate }}
                        </span>
                    </small>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4" for="tenHT">Tên hệ thống
            </label>
            <div class="col-md-8">
                <input id="tenHT" ng-trim="true" type="text" class="form-control"
                    placeholder="Tên hệ thống"
                    formControlName="tenHT">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!isValidForm()" type="submit" class="btn btn-primary save-custom" > {{ 'Action.Save2' | translate }} </button>
        <button type="button" class="btn default" (click)="goBack()">
            <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
      </div>
    </form>
  </div>

</div>
<!-- END PAGE CONTENT-->




