<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/tthcc-system">{{ 'SIDEBAR.HSCV' | translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a>{{ 'Action.Detail' | translate }}</a>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal align-middle">
      <div class="table-toolbar">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn green"
                [routerLink]="['/tthcc/createUnit' +  '/' + tthccSystem?.id]" id="form-add-btn"><i
                                class="fa fa-plus"></i> Thêm mới đơn vị</button>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 text-right">{{'TTHCC.SystemCode'|translate}}</label>
            <div class="col-md-8">{{tthccSystem?.systemCode}}</div>
          </div>
          <div class="form-group">
            <label class="col-md-4 text-right">{{'TTHCC.SystemName'|translate}}</label>
            <div class="col-md-8">{{tthccSystem?.systemName}}</div>
          </div>
          <div class="form-group">
            <label class="col-md-4 text-right">{{'TTHCC.Status'|translate}}</label>
            <div class="col-md-8">{{tthccSystem?.status == 1? 'Hoạt động' : 'Không hoạt động'}}</div>
          </div>
        </div>
        <!-- table -->
        <div class="col-md-12">
          <p>Danh sách đơn vị trong hệ thống</p>
          <div class="table-responsive" data-pattern="priority-columns">
            <table cellspacing="0" id="group-test" class="table table-small-font table-bordered table-striped">
              <thead>
                <tr>
                  <th style="text-align: center;" data-priority="6">{{ 'Unit.CenterCode' | translate }}</th>
                  <th style="text-align: center;" data-priority="6">{{ 'Unit.Name' | translate }}</th>
                  <th style="text-align: center;" data-priority="6">{{ 'Unit.Code' | translate }}</th>
                  <th style="text-align: center;" data-priority="6">{{ 'Unit.Description' | translate }}</th>
                  <!-- <th style="width: 9%; text-align: center">
                    {{ 'Label.Action' | translate }}
                  </th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.responses; let i = index">
                  <td>{{item?.centerCode}}</td>
                  <td>{{item?.name}}</td>
                  <td>{{item?.code}}</td>
                  <td>{{item?.description}}</td>
                  <!-- <td text-align="center" style="width: 8%">
                    <a class="btn btn-icon-only red" title="{{ 'Action.Delete' | translate }}" id="business-btn"
                        (click)="deleteOneItem(item.id)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn default" (click)="goBack()">
          <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
      </div>
    </form>
  </div>
</div>