<!-- BEGIN PAGE HEADER-->


<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/logCompare">Đối soát gửi</a>
    </li>
  </ul>
</div>

<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->

<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>

<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <div class="form-horizontal align-middle">
        <div class="table-toolbar">
          <div style="padding:10px;"></div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="type">Loại</label>
                <div class="col-md-8">
                  <select (change)="changeType(searchObject);" [(ngModel)]="searchObject.loai" id="type"
                          class="form-control">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listType" [value]="type.id">{{type.text}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="system">Hệ thống</label>
                <div class="col-md-8 ">
                  <select id="system" class="form-control" [(ngModel)]="searchObject.heThong">
                    <option [value]="''">Tất cả</option>
                    <option *ngFor=" let type of listSystem" [value]="type.maHT">{{type.tenHT}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="fromDate">Từ ngày</label>
                <div class="col-md-8">
                  <input id="fromDate" [(ngModel)]="searchObject.fromDate" type="date" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="toDate">Đến ngày</label>
                <div class="col-md-8">
                  <input id="toDate" [(ngModel)]="searchObject.toDate" type="date" class="form-control"/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="source_id">Mã hồ sơ gửi</label>
                <div class="col-md-8">
                  <input id="source_id" [(ngModel)]="searchObject.ma_hs_gui" type="text" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4" for="maHSNhan">Mã hồ sơ nhận</label>
                <div class="col-md-8">
                  <input id="maHSNhan" [(ngModel)]="searchObject.ma_hs_nhan" type="text" class="form-control"/>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 text-right" style="margin-left: 4%;">
            <button (click)="getPagelogCompare(0)" type="button" class="btn green align-center"><i
              class="fa fa-search"></i> {{'Action.Search' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END TABLE TOOLBAR-->


<!-- BEGIN TABLE CONTENT-->
<div class="table-responsive row ng-scope" style="margin-top:10px; margin-bottom: 10px;">

  <table class="table-responsive table table-striped table-bordered table-hover" id="list-data-table"
         style="margin-bottom: 0px;table-layout: fixed;">
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="userName">Ngày</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="isDeployed">Tổng số</mfDefaultSorter>
      </th>
      <th>
      <mfDefaultSorter by="mobileAlias">Thành công</mfDefaultSorter>
      </th>

    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" *ngFor="let item of this.logResponses">

      <td style="text-align: center;">{{item[0] | date:'dd/MM/yyyy'}}</td>
      <td style="text-align: center;"><a (click)="getLogByDate(item, 'total', 0)" data-toggle="modal"
                                         data-target="#modalLoginForm" href="javascript:void(0)"> {{item[1]}} </a></td>
      <td style="text-align: center;">
        <a (click)="getLogByDate(item, 'success', 0)" data-toggle="modal" data-target="#modalLoginForm" href="javascript:void(0)"> {{item[2] == null ? 0 : item[2]}} </a>
      </td>

    </tr>
    </tbody>
  </table>
</div>


<!-- END PAGE CONTENT-->
<!-- BEGIN PAGING-->
<div class="row" style="padding-top: 5px;">
  <div class="col-md-4">
    {{fromElement}} - {{toElement}} {{ 'Label.InTotal' | translate }} {{totalElements}} {{ 'Label.Items' | translate
    }}
  </div>
  <div class="col-md-3 pull-right" style="text-align: center;">
    {{ 'Label.Page' | translate }}
    <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev"
            [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(0)">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev"
            [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(currentPage-1)">
      <i class="fa fa-angle-left"></i>
    </button>
    <input type="number" min="1" max="{{totalPages}}"
           style="border: none; width: 30px; text-align: center;" [value]="currentPageView" #page
           (keyup.enter)="choosePageNumber(page)"> /
    <label style="padding-right: 5px;">{{totalPages}}</label>
    <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next"
            [disabled]="(currentPage+1)>=totalPages" (click)="choosePageNumber(currentPage+1)">
      <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next"
            [disabled]="(currentPage+1)>=totalPages"
            (click)="choosePageNumber(totalPages-1)">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
<!-- END PAGING-->


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div style="max-width: 80%;     transform: translate(170px, 46px);" class="modal-dialog1" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><b> Danh sách chi tiết</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body" style="overflow-x: auto;">
        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0px;table-layout: fixed;">
          <thead>
          <tr>
            <th style="width: 80px;text-align: center">
              <mfDefaultSorter by="s01">STT</mfDefaultSorter>
            </th>
            <th style="width: 150px;text-align: center">
              <mfDefaultSorter>Profile id</mfDefaultSorter>
            </th>
            <th style="width: 150px;text-align: center">
              <mfDefaultSorter>Trạng thái</mfDefaultSorter>
            </th>
            <th style="width: 150px;text-align: center">
              <mfDefaultSorter by="s2">Loại</mfDefaultSorter>
            </th>
            <th style="width: 210px;text-align: center">
              <mfDefaultSorter by="s1">Mã tham chiếu</mfDefaultSorter>
            </th>
            <th style="width: 210px;text-align: center">
              <mfDefaultSorter by="s1">Đơn vị gửi</mfDefaultSorter>
            </th>
            <th style="width: 210px;text-align: center">
              <mfDefaultSorter by="s1">Đơn vị nhận</mfDefaultSorter>
            </th>
            <th style="width: 210px;text-align: center">
              <mfDefaultSorter by="s1">Mã hồ sơ gửi</mfDefaultSorter>
            </th>
            <th style="width: 210px;text-align: center">
              <mfDefaultSorter by="a2">Mã hồ sơ nhận</mfDefaultSorter>
            </th>
            <th style="width: 150px;text-align: center">
              <mfDefaultSorter by="ns">Thời gian gửi</mfDefaultSorter>
            </th>
            <th style="width: 150px;text-align: center">
              <mfDefaultSorter by="qt">Đường dẫn API</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="odd gradeX" *ngFor="let item of this.dataInfo; index as i;">
            <td style="text-align: center;"> {{i + 1}}</td>
            <td style="text-align: center;"> {{item[1]}}</td>
            <td style="text-align: center;">{{item[11] == 4 ? 'Thất bại' : 'Thành công'}}</td>
            <td style="text-align: center;"> {{item[2]}}</td>
            <td style="text-align: center;">{{item[3]}}</td>
            <td style="text-align: center;">{{item[4]}}</td>
            <td style="text-align: center;">{{item[5]}}</td>
            <td style="text-align: center;"> {{item[9]}}</td>
            <td style="text-align: center;">{{item[10]}}</td>
            <td style="text-align: center;">{{item[8] | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td style="text-align: center;">{{item[6] == 'SAVE' ? 'sendProfile' : ''}}</td>
          </tr>
          </tbody>
        </table>

        <div class="row" style="padding-top: 5px;">
          <div class="col-md-4">
            {{_fromElement}}
            - {{_toElement}} {{ 'Label.InTotal' | translate }} {{_totalElements}} {{ 'Label.Items' | translate}}
          </div>
          <div class="col-md-3 pull-right" style="text-align: center;">
            {{ 'Label.Page' | translate }}
            <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev"
                    [disabled]="(_currentPage+1)<=1" (click)="_choosePageNumber(0)">
              <i class="fa fa-angle-double-left"></i>
            </button>
            <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev"
                    [disabled]="(_currentPage+1)<=1" (click)="_choosePageNumber(_currentPage-1)">
              <i class="fa fa-angle-left"></i>
            </button>
            <input type="number" min="1" max="{{_totalPages}}" style="border: none; width: 30px; text-align: center;"
                   [value]="_currentPageView" #page (keyup.enter)="_choosePageNumber(page)"> /
            <label style="padding-right: 5px;">{{_totalPages}}</label>
            <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next"
                    [disabled]="(_currentPage+1)>=_totalPages" (click)="_choosePageNumber(_currentPage+1)">
              <i class="fa fa-angle-right"></i>
            </button>
            <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next"
                    [disabled]="(_currentPage+1)>=_totalPages" (click)="_choosePageNumber(_totalPages-1)">
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"> Hủy</button>
      </div>
    </div>
  </div>

</div>
