<div style="min-width: 400px;">
	<b>{{ title | translate }}</b>
	<p>{{ message | translate }}</p>
	<div style="width: 100%; text-align: right;">
		<button type="button" md-button (click)="dialogRef.close(true)">{{'Dialog.OK' | translate }}</button>
		<button type="button" md-raised-button (click)="dialogRef.close()">{{ 'Dialog.Cancel' | translate }}</button>
	</div>
</div>
