<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Administration'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'AdmRight.Title'|translate}}</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title" *ngIf="isUpdate===false">{{'AdmRight.Business.CreateTitle'|translate}}</h3>
<h3 class="page-title" *ngIf="isUpdate===true">{{'AdmRight.Business.UpdateTitle'|translate}}</h3>
<hr>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal align-middle" [formGroup]="admRightForm" (ngSubmit)="submit(admRightForm.value)">
      <div class="row">
        <div class="col-md-6">
          <input id="id" type="hidden" class="form-control" formControlName="rightId" />
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.RightName.Title' | translate
              }}
              <span style="color:red;"> *</span>
            </label>
            <div class="col-md-8">
              <input id="rightName" type="text" ng-trim="true" class="form-control" formControlName="rightName"
                placeholder="{{ 'AdmRight.Business.Input.RightName.Placeholder' | translate }}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.RightCode.Title' |
              translate }}
              <span style="color:red;"> *</span>
            </label>
            <div class="col-md-8">
              <input id="rightCode" type="text" class="form-control" formControlName="rightCode" placeholder="{{'AdmRight.Business.Input.RightCode.Placeholder' | translate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.UrlRewrite.Title' | translate
              }}
              <span style="color:red;"> *</span>
            </label>
            <div class="col-md-8">
              <input id="urlRewrite" type="text" class="form-control" formControlName="urlRewrite" placeholder="{{'AdmRight.Business.Input.UrlRewrite.Placeholder' | translate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.IconUrl.Title' | translate
              }}
            </label>
            <div class="col-md-8">
              <input id="iconUrl" type="text" class="form-control" formControlName="iconUrl" placeholder="{{'AdmRight.Business.Input.IconUrl.Placeholder' | translate}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.Description.Title' | translate
              }}
            </label>
            <div class="col-md-8">
              <input id="description" type="text" class="form-control" formControlName="description" placeholder="{{'AdmRight.Business.Input.Description.Placeholder' | translate}}" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <!-- <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.HasChild.Title' | translate
              }}
              <div class=""> 
                <span [class.checked]="admRightForm.get('hasChild').value">
                    <input id="hasChild" type="checkbox" formControlName="hasChild" />
                </span>
                <label for="hasChild">
                  <span></span>
                  <span class="check"></span>
                  <span class="box"></span></label>
              </div>
            </label> -->
            
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.Status.Title' | translate
              }}
            </label>
            <div class="col-md-2">
              <div class="md-checkbox-inline">
                <div class="md-checkbox">
                  <input id="status" type="checkbox" formControlName="status" />
                  <label for="status">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span></label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      


      <hr>        


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <!-- <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.HasChild.Title' | translate
              }}
              <div class=""> 
                <span [class.checked]="admRightForm.get('hasChild').value">
                    <input id="hasChild" type="checkbox" formControlName="hasChild" />
                </span>
                <label for="hasChild">
                  <span></span>
                  <span class="check"></span>
                  <span class="box"></span></label>
              </div>
            </label> -->
            
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.HasChild.Title' | translate
              }}
            </label>
            <div class="col-md-2">
              <div class="md-checkbox-inline">
                <div class="md-checkbox">
                  <input  id="hasChild" type="checkbox" (change)="pickHasChild()" formControlName="hasChild"  disabled="true"/>
                  <label for="hasChild">  
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        
     
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">{{ 'AdmRight.Business.Input.RightOrder.Title' | translate
              }}
            </label>
            <div class="col-md-8">
              <div class="col-md-11" style="padding-left: 0px">
                <input id="rightOrder" type="number" class="form-control" formControlName="rightOrder" placeholder="{{'AdmRight.Business.Input.RightOrder.Placeholder' | translate}}" />
              </div>
              <div class="col-md-1" style="padding-right : 0px; padding-left : 0px">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" style="height: 100%" data-toggle="dropdown">
                  <i class="fa fa-angle-down"></i> 
                </button>
                
              <div class="dropdown-menu pull-right" style="width: 400px !important">

                  <table class="table table-striped table-bordered table-hover " role="menu"
                  >
                    <thead>
                      <tr>
                        <th>
                          {{'AdmRight.No' | translate}}
                        </th>
                        <th>
                          {{'AdmRight.RightName' | translate}}
                        </th>
                        <th>
                          {{'AdmRight.RightOrder' | translate}}
                        </th>
                
                      </tr>
                    </thead>
                    <tbody>
                      <!-- [ngStyle]="?{'background-color': 'lightgray'}" -->
                      <tr class="odd gradeX" *ngFor="let item of listAdmRightOrder; let i = index" >
                        <td>{{i + 1}}</td>
                        <td> {{item.rightName}} </td>
                        <td> {{item.rightOrder}} </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              
              </div>
              
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">
              {{ 'AdmRight.Business.Input.RightParent.Title' | translate }}
              <span *ngIf="!isUpdate && !this.admRightForm.get('hasChild').value" class="selectRightParent" style="color:red;" > *</span>
            </label>
            <div class="col-md-8 " id="">
              <!-- <select class="form-control ng-pristine ng-invalid ng-touched" formControlName="parentRightId">
                <option [value]="0">{{'AdmRight.Business.Input.RightParent.Placeholder' |translate}}</option>
                <option *ngFor="let admRight of listAdmRightParent" [value]="admRight.rightId">{{admRight.rightName}}</option>
              </select> -->
              <ng-select [disabled]="isUpdate || this.admRightForm.get('hasChild').value" 
                [active]="indexAdmRightParentSelection!=null?[admRightParentSelections[indexAdmRightParentSelection]]:''"  [allowClear]="true" [items]="admRightParentSelections"
                (selected)="changeAdmRight($event?.id)" (removed)="removeAdmRight()"
                placeholder="{{'AdmRight.Business.Input.RightParent.Placeholder' |translate}}" ngDefaultControl>
              </ng-select>
            </div>
          </div>
        </div>
        
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject font-dark sbold uppercase">{{'AdmRight.ApiInRight' | translate}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column">
          <tbody>
            <tr class="odd gradeX" *ngFor="let item of listAdmApiForRight">
              <td class="table-checkbox">
                <div class="checker">
                  <span [class.checked]="item.checked">
                    <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                  </span>
                </div>
              </td>
              <td> {{item.apiName}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject font-dark sbold uppercase">{{'AdmRight.AccessInRight' | translate}}</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <div class="col-md-6">
                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                  <tbody>
                    <tr class="odd gradeX" *ngFor="let item of listAdmAccess" [ngClass]="item.choosed===true?'info':''">
                      <td class="table-checkbox">
                        <div class="checker">
                          <span [class.checked]="item.checked">
                            <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                          </span>
                        </div>
                      </td>
                      <td (click)="chooseAccess(item.accessId)"> {{item.accessName}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6" *ngIf="isChooseAccess">
                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                  <tbody>
                    <tr class="odd gradeX" *ngFor="let item of listAdmApiForAccess">
                      <td class="table-checkbox">
                        <div class="checker">
                          <span [class.checked]="item.checked">
                            <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                          </span>
                        </div>
                      </td>
                      <td> {{item.apiName}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="!isValidForm()" (click)="submit(admRightForm.value)">{{ 'Button.Save' |
    translate
    }}</button>
  <button type="button" class="btn default" (click)="goBack()">
    <i class="fa fa-undo" aria-hidden="true"></i>{{ 'Button.Back' | translate }}</button>
</div>
<!-- END PAGE CONTENT-->