<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Administration'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'AdmUser.Title'|translate}}</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:2px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-6">
      <button class="btn green" [routerLink]="['create']" id="form-add-btn">
        <i class="fa fa-plus"></i>{{'Button.AddNew'|translate}}</button>
      <button *ngIf="getNumberDeleteItems()>0" class="btn red" (click)="deleteCheckedItems()" id="form-remove-btn">
        <i class="fa fa-trash-o"></i>{{'Button.Delete'|translate}}</button>
      <button class="btn green" (click)="getPageAdmUser(filterForm.value, 0)"><i class="fa fa-search"></i>{{'Button.Search'|translate}}</button>
    </div>
  </div>
  <div style="padding:2px;"></div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm" method="POST">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4">{{'AdmUser.Input.UserName.Title'|translate}}</label>
              <div class="col-md-8">
                <input id="userName" type="text" class="form-control" placeholder="{{'AdmUser.Input.UserName.Placeholder'|translate}}"
                  formControlName="userName">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4">{{'AdmUser.Input.MobileAlias.Title'|translate}}</label>
              <div class="col-md-8">
                <input id="mobileAlias" type="text" class="form-control" placeholder="{{'AdmUser.Input.MobileAlias.Placeholder'|translate}}"
                  formControlName="mobileAlias">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END TABLE TOOLBAR-->
<!-- BEGIN TABLE CONTENT-->
<table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="admUsers" #mf="mfDataTable">
  <thead>
    <tr>
      <th (change)="countNumberDeleteItems()">
        <div class="checker">
          <span [class.checked]="checkAllItemFlag">
            <input id="checkAll" type="checkbox" [(ngModel)]="checkAllItemFlag" (click)="checkAllItem()" />
          </span>
        </div>
      </th>
      <th>
        <mfDefaultSorter by="userName">{{ 'AdmUser.UserName' | translate }}</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="mobileAlias">{{ 'AdmUser.MobileAlias' | translate }}</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="isAnonymous">{{ 'AdmUser.IsAnonymous' | translate }}</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="lastActivityDate">{{ 'AdmUser.LastActivityDate' | translate }}</mfDefaultSorter>
      </th>
      <th style="width: 20%;">
        <a>{{'Label.Action'|translate}}</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd gradeX" *ngFor="let item of mf.data" [ngClass]="item.checked===true?'info':''">
      <td class="table-checkbox" (change)="countNumberDeleteItems()">
        <div class="checker">
          <span [class.checked]="item.checked">
            <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
          </span>
        </div>
      </td>
      <td> {{item.userName}}</td>
      <td>{{item.mobileAlias}}</td>
      <td>{{item.isAnonymous}}</td>
      <td style="text-align: center;">{{item.lastActivityDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
      <td text-align="center">
        <a class="btn btn-icon-only green" title="{{ 'Action.Update' | translate }}" id="business-btn" [routerLink]="['/adm-user', 'update', item.userId]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a class="btn btn-icon-only red" title="{{ 'Action.Delete' | translate }}" id="business-btn" (click)="deleteOneItem(item.userId  )">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-md-4">
    {{fromElement}} - {{toElement}} {{ 'Label.InTotal' | translate }} {{totalElements}} {{ 'Label.Items' | translate }}
  </div>
  <div class="col-md-4 pull-right">
    {{ 'Label.Page' | translate }}
    <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
      (click)="choosePageNumber(0)">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
      (click)="choosePageNumber(currentPage-1)">
      <i class="fa fa-angle-left"></i>
    </button>
    <!--max="{{admUserInfo?.totalPages}}"-->
    <input type="number" step="1" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
      #page (keyup.enter)="choosePageNumber(page)"> /
    <label style="padding-right: 5px;">{{totalPages}}</label>
    <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
      (click)="choosePageNumber(currentPage+1)">
      <i class="fa fa-angle-right"></i>
    </button>
    <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
      (click)="choosePageNumber(totalPages-1)">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>