<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Administration'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'AdmUser.Title'|translate}}</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title" *ngIf="isUpdate===false">{{'AdmUser.Business.CreateTitle'|translate}}</h3>
<h3 class="page-title" *ngIf="isUpdate===true">{{'AdmUser.Business.UpdateTitle'|translate}}</h3>
<hr>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
<div class="col-md-12">
<form class="form-horizontal align-middle" [formGroup]="admUserForm" (ngSubmit)="submit(admUserForm.value)">
  <div class="row">
    <div class="col-md-6">
      <input id="id" type="hidden" class="form-control" formControlName="userId" />
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.UserName.Title' | translate
          }}
          <span style="color:red;"> *</span>
        </label>
        <div class="col-md-8">
          <input id="userName" type="text" ng-trim="true" class="form-control" formControlName="userName" placeholder="{{ 'AdmUser.Business.Input.UserName.Placeholder' | translate }}" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.LoweredUserName.Title' |
          translate }}
        </label>
        <div class="col-md-8">
          <input id="loweredUsername" type="text" class="form-control" formControlName="loweredUsername" placeholder="{{'AdmUser.Business.Input.LoweredUserName.Placeholder' | translate}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.Surname.Title' |
          translate }}
        </label>
        <div class="col-md-8">
          <input id="surname" #surname type="text" class="form-control" formControlName="surname" placeholder="{{'AdmUser.Business.Input.Surname.Placeholder' | translate}}" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.GivenName.Title' |
          translate }}
        </label>
        <div class="col-md-8">
          <input id="givenName" #givenName type="text" class="form-control" formControlName="givenName" placeholder="{{'AdmUser.Business.Input.GivenName.Placeholder' | translate}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.DisplayName.Title' |
          translate }}
        </label>
        <div class="col-md-8">
          <input readonly id="displayName" type="text" class="form-control" formControlName="displayName" value="{{surname.value + ' '+ givenName.value }}"
            placeholder="{{'AdmUser.Business.Input.DisplayName.Placeholder' | translate}}" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.MobileAlias.Title' | translate
          }}
          <span style="color:red;"> *</span>
        </label>
        <div class="col-md-8">
          <input id="mobileAlias" type="text" class="form-control" formControlName="mobileAlias" placeholder="{{'AdmUser.Business.Input.MobileAlias.Placeholder' | translate}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.UserType.Title' | translate
          }}
        </label>
        <div class="col-md-8">
          <select class="form-control ng-pristine ng-invalid ng-touched" formControlName="userType">
            <option selected="(userType==userTypeAdmin) ? selected">Admin</option>
            <option selected="(userType==userTypeMember) ? selected">Member</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-4">{{ 'AdmUser.Business.Input.IsAnonymous.Title' | translate
          }}
        </label>
        <div class="col-md-8">
          <div class="md-checkbox-inline">
            <div class="md-checkbox">
              <input id="isAnonymous" type="checkbox" formControlName="isAnonymous" />
              <label for="isAnonymous">
                <span></span>
                <span class="check"></span>
                <span class="box"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject font-dark sbold uppercase">{{ 'AdmUser.roleInUser' | translate
          }}</span>
        </div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column">
          <tbody>
            <!-- <tr class="odd gradeX" style="background-color: lightgray;">
              <td class="table-checkbox"  (click)="clickCheckBoxAll(listRole)">
                <div class="checker">
                  <span [class.checked]="listRole_checked">
                    <input id="checkOne" type="checkbox"  />
                  </span>
                </div>
              </td>
              <td> All </td>
            </tr> -->
            <tr class="odd gradeX" *ngFor="let role of listRole" >
              <td class="table-checkbox" (click)="clickCheckBox(role)" style="width: 10%">
                <div class="checker">
                  <span [class.checked]="role.checked">
                    <input id="checkOne" type="checkbox"  />
                  </span>
                </div>
              </td>
              <td> {{role.roleName}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!isValidForm()">{{ 'Button.Save' |
      translate
      }}</button>
    <button type="button" class="btn default" (click)="goBack()">
      <i class="fa fa-undo" aria-hidden="true"></i>{{ 'Button.Back' | translate }}</button>
  </div>
</form>



</div>
</div>



<!-- END PAGE CONTENT-->