


<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="./home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="./hscv">{{ 'SIDEBAR.HSCV' | translate}}</a>
    </li>
  </ul>
</div>
<!-- <app-spinner> </app-spinner> -->
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->

<!-- <app-spinner> </app-spinner> -->
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="searchHSCVSystem(filterForm.value, 0)">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn green"
                    [routerLink]="['/hscv','create']" id="form-add-btn"><i
                                    class="fa fa-plus"></i> {{ 'Common.Create' | translate }}</button>
                </div>
            </div>
          <div style="padding:10px;"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label col-md-4" for="maHT">Mã hệ thống</label>
                      <div class="col-md-8">
                          <input id="maHT" ng-trim="true" type="text" class="form-control"
                              placeholder="Mã hệ thống"
                              formControlName="maHT">
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4" for="tenHT">Tên hệ thống</label>
                    <div class="col-md-8">
                        <input id="tenHT" ng-trim="true" type="text" class="form-control"
                            placeholder="Tên hệ thống"
                            formControlName="tenHT">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label col-md-4" for="status">Trạng thái</label>
                      <div class="col-md-8">
                        <select id="status" class="form-control"
                            formControlName="status" autofocus>
                            <option value="2">{{ 'Label.All' | translate }}</option>
                            <option *ngFor="let status of listStatusSystem"
                                [value]="status.id">
                                {{status.name}}</option>
                        </select>
                    </div>
              </div>
          </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right" style="margin-left: 4%;">
            <button type="submit" class="btn green align-center"><i class="fa fa-search"></i>
              {{'Action.Search' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END TABLE TOOLBAR-->
<div class="table-responsive" data-pattern="priority-columns">
  <table class="table table-striped table-bordered table-hover" id="list-data-table">
      <thead>
          <tr>
              <th>
                  <a>STT</a>
              </th>
              <th>
                  <a>
                      Mã hệ thống</a>
              </th>
              <th>
                  <a>
                      Tên hệ thống</a>
              </th>
              <th>
                  <a>
                      Trạng thái</a>
              </th>
              <!-- <th style="width: 9%;">
                  <a>{{ 'Label.Action' | translate }}</a>
              </th> -->
          </tr>
      </thead>
      <tbody>
          <tr class="odd gradeX" *ngFor="let item of hscvSystems; let i = index" [ngClass]="item.checked===true?'info':''">
              <td style="text-align: center;">{{i + 1}}</td>
              <td>{{item.maHT}}</td>
              <td>{{item.tenHT}}</td>
              <td>{{item.status == 1? 'Hoạt động' : 'Không hoạt động'}}</td>
              <!-- <td text-align="center" style="width: 8%">
                  <a class="btn btn-icon-only blue" title="{{ 'Action.Detail' | translate }}" id="business-btn"
                      [routerLink]="['/tthcc/detail', item.id]">
                      <i class="fa fa-info" aria-hidden="true"></i>
                  </a> -->
                  <!-- <a class="btn btn-icon-only red"
                    title="{{ 'Action.Delete' | translate }}" id="business-btn" (click)="deleteOneItem(item.id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a> -->
              <!-- </td> -->
          </tr>
      </tbody>
  </table> 
  </div>
  <!-- END TABLE CONTENT-->
  <!-- BEGIN PAGING-->
  <div class="row">
      <div class="col-md-4">
          {{fromElement}} - {{toElement}} {{ 'Label.InTotal' | translate }} {{hscvSystemInfo.totalElements}} {{ 'Label.Items' | translate
        }}
      </div>
      <div class="col-md-3 pull-right" style="text-align: center;">
          {{ 'Label.Page' | translate }}
          <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev"
              [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(0)">
              <i class="fa fa-angle-double-left"></i>
          </button>
          <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev"
              [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(currentPage-1)">
              <i class="fa fa-angle-left"></i>
          </button>
          <input type="number" min="1" max="{{hscvSystemInfo.totalPages}}"
              style="border: none; width: 35px; text-align: center;" [value]="currentPageView" #page
              (keyup.enter)="choosePageNumber(page)"> /
          <label style="padding-right: 5px;">{{hscvSystemInfo.totalPages}}</label>
          <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next"
              [disabled]="(currentPage+1)>=hscvSystemInfo.totalPages" (click)="choosePageNumber(currentPage+1)">
              <i class="fa fa-angle-right"></i>
          </button>
          <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next"
              [disabled]="(currentPage+1)>=hscvSystemInfo.totalPages" (click)="choosePageNumber(hscvSystemInfo.totalPages-1)">
              <i class="fa fa-angle-double-right"></i>
          </button>
      </div>
  </div>
  <!-- END PAGING-->
