<div style="min-width: 400px;">
  <b>{{ emptyTitle | translate }}</b>
  <div style="overflow-y: scroll;  max-height: 500px">
      {{ emptyMessage | translate }}
  </div>
  <div style="width: 100%; text-align: right; ">
    <button type="button" md-raised-button (click)="dialogRef.close()">{{ 'Dialog.Cancel' | translate }}</button>
  </div>
</div>
