<style>
  .save-custom {
    width: 94.49px;
  }
</style>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/tthcc-system">{{ 'SIDEBAR.HSCV' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li *ngIf="isUpdate===2">
            <a>{{ 'Action.Update' | translate}}</a>
        </li>
        <li *ngIf="isUpdate===1">
            <a>{{ 'Action.Create' | translate}}</a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal align-middle" [formGroup]="tthccSystemForm" (ngSubmit)="submit(tthccSystemForm.value)">
            <div class="row">
                <div class="col-md-6" *ngIf="isUpdate == 1">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemName">{{ 'TTHCC.SystemName' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="systemName" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'TTHCC.SystemName' | translate }}"
                                formControlName="systemName">
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6" *ngIf="isUpdate">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemName">{{ 'TTHCC.SystemName' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="systemName" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'TTHCC.SystemName' | translate }}"
                                formControlName="systemName">
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6" *ngIf="isUpdate">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="status">{{ 'TTHCC.Status'
                            | translate }}</label>
                            <div class="col-md-8">
                              <select id="status" class="form-control"
                                  formControlName="status" autofocus>
                                  <option value="2">{{ 'Label.All' | translate }}</option>
                                  <option *ngFor="let status of listStatusSystem"
                                      [value]="status.id">
                                      {{status.name}}</option>
                              </select>
                          </div>
                    </div>
                </div> -->

                <div class="col-md-6" *ngIf="isUpdate == 1">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemCode">{{ 'TTHCC.Code2' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="systemCode" autocomplete="off" type="text" class="form-control" formControlName="systemCode"
                                placeholder="{{ 'TTHCC.SystemCode' | translate }}" required />
                                <small class="error" *ngIf="tthccSystemForm.get('systemCode').invalid && (tthccSystemForm.get('systemCode').touched)">
                                    <span *ngIf="tthccSystemForm.get('systemCode').errors?.required">
                                        {{ 'Message.Required' | translate }}
                                    </span>
                                    <span *ngIf="isUpdate===1 && !tthccSystemForm.get('systemCode').errors?.required&&tthccSystemForm.get('systemCode').errors?.pattern!=null">
                                        {{ 'Message.CodeInvalid' | translate }}
                                    </span>
                                </small>
                               
                                <small class="error" *ngIf="!tthccSystemForm.get('systemCode').invalid && (tthccSystemForm.get('systemCode').touched)">
                                    <span *ngIf="tthccSystemForm.get('systemCode').value.trim() == ''">
                                        {{ 'Message.CodeInvalid' | translate }}
                                    </span>
                                </small>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6" *ngIf="isUpdate">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemName">{{ 'TTHCC.SystemName' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="systemName" autocomplete="off" type="text" class="form-control" formControlName="systemName"
                                placeholder="{{ 'TTHCC.SystemName' | translate }}" disabled  />
                        </div>
                    </div>
                </div> -->
                 <!-- create Unit -->
                <div class="col-md-6" *ngIf="isUpdate == 3">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="centerCode">{{ 'Unit.CenterCode' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="centerCode" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.CenterCode' | translate }}"
                                formControlName="centerCode">
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="isUpdate == 3">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="code">{{ 'Unit.Code' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="code" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Code' | translate }}"
                                formControlName="code">
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="isUpdate == 3">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="name">{{ 'Unit.Name' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="name" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Name' | translate }}"
                                formControlName="name">
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="isUpdate == 3">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="description">{{ 'Unit.Description' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="description" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Description' | translate }}"
                                formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="isUpdate == 3" style="display: none;">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemId">{{ 'Unit.Description' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="systemId" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Description' | translate }}" value="this.id"
                                formControlName="systemId">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="isUpdate == 2">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="status">{{ 'TTHCC.Status'
                            | translate }}</label>
                            <div class="col-md-8">
                              <select id="status" class="form-control"
                                  formControlName="status" autofocus>
                                  <option value="2">{{ 'Label.All' | translate }}</option>
                                  <option *ngFor="let status of listStatusSystem"
                                      [value]="status.id">
                                      {{status.name}}</option>
                              </select>
                          </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="isUpdate == 1">
                <button [disabled]="!isValidForm()" type="submit" class="btn btn-primary save-custom" > {{ 'Action.Save2' | translate }} </button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
            </div>
            <div class="modal-footer" *ngIf="isUpdate == 2">
                <button [disabled]="!isValidForm()" type="submit" class="btn btn-primary save-custom"> {{ 'Action.Save3' | translate }} </button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
            </div>
            <div class="modal-footer" *ngIf="isUpdate == 3">
                <button [disabled]="!isValidForm()" type="submit" class="btn btn-primary save-custom"> {{ 'Action.Create' | translate }} </button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
            </div>
        </form>
    </div>
</div>
