<style>
  .save-custom {
    width: 94.49px;
  }
</style>
<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/tthcc-system">{{ 'SIDEBAR.HSCV' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li *ngIf="isUpdate===2">
            <a>{{ 'Action.Update' | translate}}</a>
        </li>
        <li *ngIf="isUpdate===1">
            <a>{{ 'Action.Create' | translate}}</a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal align-middle" [formGroup]="tthccSystemForm" (ngSubmit)="submit(tthccSystemForm.value)">
            <div class="row">
                 <!-- create Unit -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="centerCode">{{ 'Unit.CenterCode' | translate }}
                            <!-- <span style="color:red;"> *</span> -->
                        </label>
                        <div class="col-md-8">
                            <input id="centerCode" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.CenterCode' | translate }}"
                                formControlName="centerCode">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="code">{{ 'Unit.Code' | translate }}
                            <!-- <span style="color:red;"> *</span> -->
                        </label>
                        <div class="col-md-8">
                            <input id="code" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Code' | translate }}"
                                formControlName="code">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="name">{{ 'Unit.Name' | translate }}
                            <!-- <span style="color:red;"> *</span> -->
                        </label>
                        <div class="col-md-8">
                            <input id="name" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Name' | translate }}"
                                formControlName="name">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="description">{{ 'Unit.Description' | translate }}
                            <!-- <span style="color:red;"> *</span> -->
                        </label>
                        <div class="col-md-8">
                            <input id="description" ng-trim="true" type="text" class="form-control"
                                placeholder="{{ 'Unit.Description' | translate }}"
                                formControlName="description">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="display: none;">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="systemId">{{ 'Agency.AppCha' | translate }}
                            <!-- <span style="color:red;"> *</span> -->
                        </label>
                        <div class="col-md-8" >
                            <ng-select  id="systemId"
                                [active]="indexProvinceSelection!=null?[provinceSelections[indexProvinceSelection]]:''"
                                [allowClear]="true" [items]="provinceSelections"
                                (selected)="provinceChanged($event?.id)" (removed)="provinceChanged(null)"
                                placeholder="{{ 'Agency.AppId' | translate }}" [disabled]="true" ngDefaultControl>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group" style="display: none;">
                    <label class="col-md-4 text-right">{{'TTHCC.SystemName'|translate}}</label>
                    <div class="col-md-8">{{tthccSystem?.id}}</div>
                  </div> -->
            </div>
            <div class="modal-footer">
                <button [disabled]="!isValidForm()" type="submit" class="btn btn-primary save-custom"> {{ 'Action.Create' | translate }} </button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i> {{ 'Action.Back' | translate }}</button>
            </div>
        </form>
    </div>
</div>
