<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="/application">{{ 'SIDEBAR.FrequencyChart.Receive' | translate}}</a>
    </li>
  </ul>
</div>
<!-- <app-spinner> </app-spinner> -->
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->

<!-- <app-spinner> </app-spinner> -->
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm"
        (ngSubmit)="getPagelogResponse(filterForm.value)">
        <div class="table-toolbar">
          <div style="padding:10px;"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="type">{{'logResponse.type'|translate}}</label>
                    <div class="col-md-8 ">
                      <select id="type" class="form-control" formControlName="loai">
                        <option [value]="''">Tất cả</option>
                        <option *ngFor=" let type of listType" [value]="type.id">{{type.text}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="system">{{'logResponse.system'|translate}}</label>
                    <div class="col-md-8 ">
                      <!--<input id="system" formControlName="heThong" type="text" class="form-control"  />-->
                      <select id="system" class="form-control" formControlName="heThong">
                        <option [value]="''">Tất cả</option>
                        <option *ngFor=" let type of listSystem" [value]="type.maHT">{{type.tenHT}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="startDate">{{'logResponse.StartDate'|translate}}</label>
                    <div class="col-md-8">
                      <input id="startDate" type="date" value="2018-06-12" class="form-control" formControlName="fromDate" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="endDate">{{'logResponse.EndDate'|translate}}</label>
                    <div class="col-md-8">
                      <input id="endDate" type="date" value="2018-06-12" class="form-control"
                             formControlName="toDate" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input hidden value="RECEIVED" formControlName="loaiDoiSoat" />

        </div>
        <div class="row">
          <div class="col-md-6 text-right" style="margin-left: 4%;">
            <button type="submit" class="btn green align-center"><i class="fa fa-search"></i>
              {{'Action.Search' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END TABLE TOOLBAR-->
<!-- BEGIN TABLE CONTENT-->
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="portlet light bordered">
      <div class="portlet-body">
        <div style="display: block;">
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
