<!-- BEGIN SIDEBAR -->
<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false"
	data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
	<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<li class="sidebar-toggler-wrapper hide">
		<div class="sidebar-toggler">
			<span></span>
		</div>
	</li>
	<ng-container>
		<li class="nav-item">
			<a routerLink="/hscv" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title">Hệ thống hồ sơ công việc</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title">{{ 'SIDEBAR.FrequencyChart.Title' | translate }}</span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/logRequest">
						{{ 'SIDEBAR.FrequencyChart.Send' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/logResponse">
						{{ 'SIDEBAR.FrequencyChart.Receive' | translate }}</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title">{{ 'SIDEBAR.logCompare.Title' | translate }}</span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/logCompareReq">
						{{ 'SIDEBAR.logCompare.req' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/logCompareRes">
						{{ 'SIDEBAR.logCompare.res' | translate }}</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a routerLink="/exchange-messages" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title">Thông điệp trao đổi</span>
			</a>
		</li>
	</ng-container>

</ul>
<!-- END SIDEBAR MENU -->
